<!-- Paginación -->
<div>
    <button (click)="cambiarPagina(paginaActual - 1)" [disabled]="paginaActual <= 1">Anterior</button>
    
    <span>  Página {{ paginaActual }} de {{ totalPaginas }}  </span>
    
    <button (click)="cambiarPagina(paginaActual + 1)" [disabled]="paginaActual >= totalPaginas">Siguiente</button>
</div>

<div class="table-responsive">
    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
        <th>Empresa</th>
        <th>Centro de operación</th>
        <th>Tipo de documento</th>
        <th>Consecutivo</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
            @for (item of facturas; track $index) {
            <tr>
                <td>
                    <p>{{ item.compania }}</p>
                </td>
                <td>
                    <p>{{ item.co }}</p>
                </td>
                <td>
                    <p>{{ item.tipo_documento }}</p>
                </td>
                <td>
                    <p>{{ item.consecutivo }}</p>
                </td>
            </tr>
           }
        </tbody>
    </table>
    </div>