 <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a routerLink="" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
                
                <span class="fs-4 ms-2 me-3"><img src="assets\img\logos\logo.png" alt="Logo" class="me-2" width="50" height="40"><strong>{{title}}</strong></span> 
            </a>
          </div>
          
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        
        <li><a routerLink="/" class="nav-link px-2 link-secondary"><strong>Inicio</strong></a></li>
        <li><a routerLink="/login" class="nav-link px-2"style="color:black;"><strong>Login</strong></a></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:black;">
            <strong>Usuarios</strong>
          </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/crearUsuario" class="dropdown-item" href="#">Crear</a></li>
            <li><a routerLink="/gestionUsuarios" class="dropdown-item" href="#">Consultar</a></li>
          </ul>
        </li>
      </ul>

      <div class="col-md-3 text-end">
        @if (isLogged) {
          <label class="me-3"> {{rol}}</label>
          <button type="button" (click)="logout()" class="btn btn-primary ">Logout</button>
        }
        
      </div>
    </header>
  </div>

